{% load static %}
<div class="listaMusicas container"><p>Artistas: </p></div>
<div class="container dashboard">
    <ul class="dashboard--principal">
        {% if artistas %}
        {% for artista in artistas %}
        <li class="dashboard--principal_item">
            <a href="{% url 'todasMusicasArtista' artista.id %}"><img class="item__img" src="{{artista.artista_pic.url}}" alt=""></a>
        </li>
            
        
        {% endfor %}
        {% else %}
        {% endif %}  

    </ul>
</div>        