{% block content %}
{% load static %}

<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        
        <div class="modal-body">
            <form action="{% url 'login' %}" method="POST">
                <label for="email_usuario"><b>Email</b></label>
                <input type="email" class="form-control me-2 rounded-pill" name="email" placeholder="Ex.:rafael@email.com" required>
                <br>
                <label for="password"><b>Senha</b></label>
                <input type="password" class="form-control me-2 rounded-pill" name="senha" placeholder="Digite sua senha" required>
                <br>
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-outline-dark border-1 rounded-pill btn-lg" type="submit">Login</button><br>
                    <button class="btn btn-outline-0 rounded-pill btn-sm" type="sign-up"  data-bs-toggle="modal" data-bs-target="#cadastroModal">Ainda não tem conta? Clique aqui</button>
                </div>
            {% csrf_token %}
            </form>   
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}