{% load static %}
{% include 'partials/_login.html' %}
{% include 'partials/_cadastro.html' %}



<header>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-4 col-sm-2">
        <a class="" href="{% url 'index' %}">
        <img src="static/img/shalom_-_logo.png" alt="" width="100" height="auto" class=""></a>
      </div>
      <div class="col col-sm-10">
        <h1 class="d-flex justify-content-end text-sm-start" >MINISTERIO DE LOUVOR</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar bg-white">
        <div class="container text-md-center">
           
             <form class="d-flex  mt-1" role="search" action="{% url 'buscar' %}">
                <input class="form-control me-2 rounded-pill input__search" type="text" name='buscar' placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-0 rounded-pill" type="submit">Search</button>
            </form>
              
              
              <div class="d-flex justify-content-center align-items-center gap-2 mb-1">
                {% if user.is_authenticated %}
                  <span class="nome_usuario text-nowrap">Ola {{ user.first_name }} {{user.last_name}}!  <br></span>
                  <a href="{% url 'todasMusicas' %}"><button type="button" class="btn btn-outline-dark border-0 rounded-pill">Musicas</button></a>
                  <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-outline-dark border-0 rounded-pill">Minhas musicas</button></a>
                  <a href="{% url 'criarMusica' %}"><button type="button" class="btn btn-outline-dark border-0 rounded-pill">Add Musica</button></a></div>
                  <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-dark border-0 rounded-pill">Sair</button></a>
                  {% else %}
                  <button type="button" class="btn btn-outline-dark border-0 rounded-pill" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                  <button type="button" class="btn btn-outline-dark border-0 rounded-pill" data-bs-toggle="modal" data-bs-target="#cadastroModal">Cadastro</button>
                  {% endif %}
              </div>

        </div>
    </nav>
  </div>
  <hr>




</header>

