{% load static %}
    <div class="container">
    <ul class="container__principal">
        {% if musicas %}
        {% for musica in musicas %}
         <li class="principal__item">
             <a href="{% url 'musica' musica.id %}"><img class="item__img" src="{{musica.cover_pic.url}}" alt=""></a>
         </li>
        
    
        {% endfor %}
        {% else %}
        {% endif %}  

        </ul>
         <!-- <li class="principal__item">
            <img class="item__img" src="/static/img/bethel.jpg" alt="">
        </li> -->
         <!-- <li class="principal__item">
             <img class="item__img" src="/static/img/leeland.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/hillsong.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/hillsongUnited.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/chrisTomlin.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/philWickham.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/mattRedman.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/martynLayzell.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/jesusCulture.png" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/martinSmith.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/morada.jpeg" alt="">
         </li>
         <li class="principal__item">
             <img class="item__img" src="/static/img/timHughes.jpeg" alt="">
         </li> -->
     
    </div>