{% load static %}

<header>
    <div class="topnav">
        
        <div class= "topnav__container">
            <a href="{% url 'index' %}"><img class="topnav__logo" src="static/img/shalom_-_logo.png" alt=""></a>
            <div class="topnav__text">
                <!-- <h2 class="topnav__title">SHALOM OXFORD</h2> -->
                <h2 class="topnav__title" >MINISTERIO DE LOUVOR</h2>
            </div>
        </div>
        
        <div id="myLinks">
          
          <a href="{% url 'songs' %}">Songs</a>
          
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="displayTopnavLinks()">
          <i class="fa fa-bars"></i>
        </a>

      </div>
      <div class="barra_pesquisa">
        <form action="{% url 'buscar' %}" class="search-bar" >
        <input type="text" name="buscar" placeholder="Buscar por musicas">
        <button class="search-btn" type="submit">
            <span>Search</span>
        </button>
    </form></div>
      
    
</header>