{% extends 'base.html' %}

{% block content %}
{% load static %}
<main>
    <div class="formulario__background"></div>
    <div class="formulario">
        <div class="formulario__close"><button class="formulario__close-btn" onclick="history.go(-1);">&times</button></div>
        <form action="{% url 'cadastro' %}" method="POST">
            
            <div class="formulario__campo">
                <div class="formulario__campo-item">
                    <label for="nome_usuario"><b>Nome completo</b></label>
                    <input type="text" class="formulario__campo-input" name="nome" placeholder="Ex.:Rafael Almeida" required>
                </div>
                <div class="formulario__campo-item">
                    <label for="email"><b>Email</b></label>
                    <input type="email" class="formulario__campo-input" name="email" placeholder="Ex.: rafael@shalom.com" required>
                </div>
                <div class="formulario__campo-item">
                    <label for="password"><b>Senha</b></label>
                    <input type="password" class="formulario__campo-input" name="password" placeholder="Digite sua senha" required>
                </div>
                <div class="formulario__campo-item">
                    <label for="password2"><b>Confirmação de senha</b></label>
                    <input type="password" class="formulario__campo-input" name="password2" placeholder="Digite sua senha mais uma vez" required>
                </div>
                <div class="formulario__campo-btn">
                    <button class="formulario__btn" type="submit">Criar sua conta</button>
                </div>
                {% csrf_token %}
            </div>
        </form>
    </div>
</main>
{% endblock %}