{% extends 'base.html' %}

{% block content %}
    <main>
        

        <div class="listaMusicas container">
            
            <p>Minhas musicas: </p>
            

            <div class="container justify-content-center">
                <ul class=" musica__titulo">
                    {% if musicas %}
                    {% for musica in musicas %}
                    <div class="listaMusicas__musica">
                        <div class="d-flex align-items-center border-1">
                            <a href="{% url 'musica' musica.id %}"><img src="{{ musica.nome_artista.artista_pic.url }}" alt="" class="rounded-top musica__img" ></a>
                            <a href="{% url 'musica' musica.id %}" class="musica__titulo"><p >{{ musica.titulo_musica }} <span class="fst-italic">by </span> {{musica.nome_artista}}</p></a>        
                        </div>   
                    </div> 
                        <div class="">
                            <a href="{% url 'editarMusica' musica.id %}"><button type="button" class="btn btn-outline-dark border-1 rounded-pill btn-sm ">Editar Musica</button></a>
                            <a href="{% url 'deletarMusica' musica.id %}"><button type="button" class="btn btn-outline-dark border-1 rounded-pill btn-sm">Deletar Musica</button></a>
                        </div>
                    <hr>    
                            
                    {% endfor %}
                    {% else %}
                    <li class="listaMusicas__musica">
                        <img src="{{ musica.nome_artista.artista_pic.url }}" alt="" class=" musica__img">
                        <a href="{% url 'dashboard' %}" ><p class="musica__titulo">Nenhum resultado encontrado. Tente novamente</p></a>
                                
                    </li>
                    
                    {% endif %}            
                
                </ul>
            
            </div>
    </main>
    
{% endblock %}