{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
        
       <div class="musica">
            <div class="musica__heading">
                <img class="heading__img" src= "{{ musica.cover_pic.url }}" alt="">
                <h2 class="heading__title">{{musica.titulo_musica}}</h2>
                
            </div>
            <p class="musica__artist">by {{musica.artista}}</p>
            <p class="musica__releaseYear">{{musica.release_year}}</p>
            
            <pre class="musica__lyrics">
{{musica.lyrics}}</pre>
            


       </div>
       
        
    </main>

{% endblock %}
