/* menu nome e logo */
.display-grid{
  display: grid;
  grid-template-areas: "logo titulo";
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  gap: 1em;
}
.logo{
  grid-area: logo;
}
.titulo{
  grid-area: titulo;
}
.titulo-site{
  font-size: clamp(25px, 5vw, 70px);
  text-align: right;
}
/* menu nome e logo FIM */

/* barra de busca */
.input__search{
  width: clamp(150px,53vw,700px);
}
/* barra de busca FIM */

body {
    
    margin-top: 10px;
    margin-bottom: 1em;
    background-color: white;
    font-family: 'Open Sans', 'icones', arial;
    color: black;
    
}

/* slide test */

.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,13,51,1) 89%, rgba(1,14,54,1) 100%);
 
}

.slide-texto {
  

  color: white;
  font-size: 5vw;
  text-align: center;
}
/* slide test FIM*/






/* END <!-- "Menu" --!> */




/* <!-- Dashboard --> */

.dashboard{
  display: flex;
  overflow-y:hidden;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  justify-content: center; 
  align-items: center;
  
}
.dashboard--principal{
  
  margin: 1em 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  
}

@media (max-width: 1024px) {
  .dashboard--principal{
    
    max-height: 500px;
    gap: 0;
    flex-direction: column;
  }
  .dashboard{
    border-radius: 0;
    justify-content: flex-start;
  }
  
} 


.dashboard--principal_item img:hover{
  opacity: 0.5;
}
.item__img{
  border-radius: 20px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 10px;
}


/* <!-- END Dashboard --> */

/* <!-- Songs --> */

.listaMusicas{
  font-size: large;
  padding-left: 1em;
  margin-top: 2em;
}

.lista_de_musicas{
  display: grid;
  gap: 1em 5em;
  grid-template-columns: 1fr 1fr 1fr;    
}

.listaMusicas__musica{
  display: flex;
  align-items: baseline;

}

.listaMusicas__musica a{
  color: black;
}

.listaMusicas__musica a:hover{
  color:rgb(194, 194, 194)
}

.musica__img{
  width: 60px;
}

.musica__titulo {   
    padding-left: 1em;
    margin: 0;
    text-decoration: none;
}


@media (max-width: 1025px) {
    .lista_de_musicas{
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 490px) {
  .lista_de_musicas{
    grid-template-columns: 1fr;
  }
} 


/* <!-- END Songs --> */




/* <!-- Musica --> */
.lyrics-texto{
  font-size: clamp(13px, 14vw, 1vw);
}

.musica--img{
  max-width: 130px;
}

.musica--card{
  max-width:900px; 
  gap:20px;
}

/* <!-- END Musica --> */

/* <!-- Formulario Cadastro / Login --> */

.formulario__close{
  text-align: right;
}
.formulario__close-btn {
  font-size: large;
  border: none;
  color: black;
  background-color: white;
}

.formulario__close :hover{
  opacity: 0.5;
  
}
.formulario__background{
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden;
  background-color:rgba(255, 255, 255, 0.744);
  display: flex;
  
}
.formulario{
  position: sticky;
  z-index: 2;
  width: 330px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.579);
  border-radius: 20px;
  padding: 1em 1em;
  margin: auto;
  background-color: white;
}
.formulario__campo{
  padding:0 1em;
  
}
.formulario__campo-item{
  margin: 1em 0;
}
.formulario__campo-input{
  padding: 0.5em;
  border-radius: 20px;
  border-color: #787777;
  color: black;
  opacity: 0.5;
  width:290px;
  
}
.formulario__campo-btn{
  padding: 0.5em;
  text-align: center;
}
.formulario__btn{
  padding: 0.5em 1em;
  border-radius: 15px;
  border-color: #787777;
  color: black;
  background-color: rgba(0, 0, 0, 0.061);
  margin: 0.5em;
}
.modalControl{
  position: fixed;
}
/* <!-- END Formulario Cadastro / Login --> */

/* <!-- Footer --> */

.footer{
    
    padding-top: 2em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
}
  .footer__texto{
    
    text-align: center;
    display: grid;
    font-size: xx-small;
    margin: 0 10% 0 0;
}
.footer__logo{
    height: 60px;

}

/* <!-- END Footer --> */


